In [1]:
import pandas as pd

In [2]:
annot_df = pd.read_csv('/Users/jeremyhudsonchan/Dropbox/Files/Github_Repos/Text-Extraction-from-Images/preprocessed_data/annotations.csv')

In [3]:
annot_df.head()

,image_id,Unnamed: 0,id,bbox,utf8_string,points,area
0,0000e8b36676338b,"[761457, 761458, 761459, 761460]","['0000e8b36676338b_1', '0000e8b36676338b_2', '...","['[308.0, 135.8, 45.96, 17.33]', '[383.8, 140....","['FELIX', 'PRIVAT', 'DBU', '889']","['[313.24, 135.8, 353.96, 136.2, 348.72, 153.1...","[796.49, 1517.05, 883.91, 918.83]"
1,00010bf498b64bab,"[684409, 684410, 684411, 684412, 684413, 68441...","['00010bf498b64bab_1', '00010bf498b64bab_2', '...","['[189.71, 252.79, 70.38, 46.75]', '[254.95, 2...","['TEQU', 'A', 'KOLA', '28', 'MZ', '2387', 'AMS...","['[189.71, 255.87, 189.71, 255.87, 259.58, 252...","[3290.26, 1126.99, 2379.67, 302.83, 294.12, 50..."
2,00016982f6086d39,"[394024, 394025, 394026, 394027, 394028, 39402...","['00016982f6086d39_1', '00016982f6086d39_2', '...","['[4.74, 82.48, 22.86, 16.7]', '[38.43, 20.53,...","['3G', 'Applications', '1215', 'LightSabre', '...","['[4.74, 82.48, 27.6, 82.48, 27.6, 99.18, 4.74...","[381.76, 9263.93, 1429.43, 4249.15, 4194.58, 2..."
3,0001c6bf48e16ab2,"[528078, 528079, 528081, 528082, 528083, 528084]","['0001c6bf48e16ab2_1', '0001c6bf48e16ab2_2', '...","['[605.88, 326.58, 126.68, 33.3]', '[733.87, 3...","['NISSAN', 'GENISS', 'NISSAN', 'LIVINA', 'GENI...","['[605.88, 329.19, 731.91, 326.58, 732.56, 358...","[4218.44, 4167.7, 2114.88, 293.55, 1707.29, 21..."
4,000209d575f3aa4f,"[617698, 617699, 617700, 617701, 617702, 61770...","['000209d575f3aa4f_2', '000209d575f3aa4f_3', '...","['[262.26, 686.21, 56.2, 10.88]', '[240.49, 66...","['BEER', 'MACAU', 'MACAU', 'BEER', 'MACAU', 'B...","['[262.91, 686.21, 318.14, 686.69, 318.46, 697...","[611.46, 1914.32, 321.29, 98.07, 533.41, 172.7..."

In [5]:
# gensim import word2vec
from gensim.models import word2vec
from gensim.models import Word2Vec
word2vec_model = word2vec.Word2Vec(annot_df['utf8_string'], vector_size=10, window=5, min_count=5, workers=4)
# get all words in utf8_string column, convert them into vectors using word2vec, then update the column, if word not in vocabulary, ignore
def get_word2vec(word):
    try:
        return word2vec_model.wv[word]
    except:
        return None

annot_df['utf8_string'] = annot_df['utf8_string'].apply(lambda x: [get_word2vec(word) for word in x])

In [6]:
annot_df.head()

,image_id,Unnamed: 0,id,bbox,utf8_string,points,area
0,0000e8b36676338b,"[761457, 761458, 761459, 761460]","['0000e8b36676338b_1', '0000e8b36676338b_2', '...","['[308.0, 135.8, 45.96, 17.33]', '[383.8, 140....","[[1.7691545, 0.7393737, -0.289555, 0.27356017,...","['[313.24, 135.8, 353.96, 136.2, 348.72, 153.1...","[796.49, 1517.05, 883.91, 918.83]"
1,00010bf498b64bab,"[684409, 684410, 684411, 684412, 684413, 68441...","['00010bf498b64bab_1', '00010bf498b64bab_2', '...","['[189.71, 252.79, 70.38, 46.75]', '[254.95, 2...","[[1.7691545, 0.7393737, -0.289555, 0.27356017,...","['[189.71, 255.87, 189.71, 255.87, 259.58, 252...","[3290.26, 1126.99, 2379.67, 302.83, 294.12, 50..."
2,00016982f6086d39,"[394024, 394025, 394026, 394027, 394028, 39402...","['00016982f6086d39_1', '00016982f6086d39_2', '...","['[4.74, 82.48, 22.86, 16.7]', '[38.43, 20.53,...","[[1.7691545, 0.7393737, -0.289555, 0.27356017,...","['[4.74, 82.48, 27.6, 82.48, 27.6, 99.18, 4.74...","[381.76, 9263.93, 1429.43, 4249.15, 4194.58, 2..."
3,0001c6bf48e16ab2,"[528078, 528079, 528081, 528082, 528083, 528084]","['0001c6bf48e16ab2_1', '0001c6bf48e16ab2_2', '...","['[605.88, 326.58, 126.68, 33.3]', '[733.87, 3...","[[1.7691545, 0.7393737, -0.289555, 0.27356017,...","['[605.88, 329.19, 731.91, 326.58, 732.56, 358...","[4218.44, 4167.7, 2114.88, 293.55, 1707.29, 21..."
4,000209d575f3aa4f,"[617698, 617699, 617700, 617701, 617702, 61770...","['000209d575f3aa4f_2', '000209d575f3aa4f_3', '...","['[262.26, 686.21, 56.2, 10.88]', '[240.49, 66...","[[1.7691545, 0.7393737, -0.289555, 0.27356017,...","['[262.91, 686.21, 318.14, 686.69, 318.46, 697...","[611.46, 1914.32, 321.29, 98.07, 533.41, 172.7..."

In [7]:
# save the dataframe to a csv file, print out the process time
import time
start_time = time.time()
annot_df.to_csv('annot.csv')
print("--- %s seconds ---" % (time.time() - start_time))

--- 732.4510200023651 seconds ---